html,
body {
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter",
    cursive;
  text-align: center;
  font-size: 130%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  /* padding-bottom: 3px; */
  border-radius: 5px;
  background-color: #ffeaa7;
  margin-top: 1em;
}

button span {
  background: #f1f5f8;
  display: block;
  /* padding: 0.5rem 1rem; */
  border-radius: 5px;
  /* border: 2px solid hsl(198, 1%, 29%); */
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}